* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button,
svg,i {
  cursor: pointer;
}
.container {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container {
    width: 1350px;
    margin: 0 auto;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  height: 100%;
  object-fit: cover;
}
